.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    height: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 0;
    clear: both;
    
    
}